<%- include('header'); -%>
<form action="/" method="post">
    <label for="groupID">Group ID: </label>
    <%= %>
    <label for="operation">Operation: </label>
    <%= %>
    <label for="groupType">Type: </label>
    <%= %>
    <button type="button">Send</button>
</form>
<%- include('footer'); -%>